########################
### IntellijIDEA
########################

.idea/
*.iml

########################
### Eclipse
########################

bin/
.settings/
.project
.classpath

########################
### Maven
########################

target/

########################
### Latex
########################

## Compilation output:
*.pdf

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*-converted-to.*

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

########################
### Temporary files
########################

.fuse_hidden*
