########################
## IntellijIDEA
########################

.idea/
*.iml

########################
## Eclipse
########################

bin/
.settings/
.project
.classpath

########################
## Maven
########################

target/
